Binaries
DerivedDataCache
Intermediate
Saved
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.ipch
Build/WindowsNoEditor/FileOpenOrder/EditorOpenOrder.log
Build/WindowsNoEditor/FileOpenOrder/CookerOpenOrder.log
.vs/RoboHood/v15/Solution.VC.db-wal
.vs/RoboHood/v15/Solution.VC.db-shm
Content/StarterContent/Architecture/Floor_400x400.uasset
Content/StarterContent/Architecture/Floor_400x400.uasset
Content/StarterContent/Architecture/Floor_400x400.uasset
